@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    background-color: grey;
}

.link-href {
    margin-left: -300px;
    text-decoration: none;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 18px;
    margin-left: 120px;
    text-transform: uppercase;
    list-style: none;
    color: #fff;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 18px;
    margin-left: -10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-text {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.text {
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.gallery {
    margin-top: 10px;
}

.image {
    width: 300px;
    height: 300px;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: gray;
}

.copiraight {
    padding-top: 30px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.Flash {
    color: rgb(7, 209, 239);
}

.Flash-link {
    text-decoration: none;
}

.theme-btn {
    margin-top: 18px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}