/* Dark theme */

.dark-theme {
    background-color: #041C32;
}

.dark-theme .header {
    background-color: #5b5e6b;
}

.dark-theme .header .logo {
    color: #A5C9CA;
}

.dark-theme .header .link {
    color: #A5C9CA;
}

.dark-theme .main .main-text {
    color: #A5C9CA;
}

.dark-theme .main .text {
    color: #A5C9CA;
}

.dark-theme .footer {
    background-color: #5b5e6b;
}

.dark-theme .footer .copiraight {
    color: #A5C9CA;
}

.dark-theme .footer .Flash {
    color: #4C3575;
}